.hospedaje {
  padding: 3rem 1rem;
  background-color: rgb(15, 82, 111, 0.2);
}

.hospedaje-contenedor {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.hospedaje-titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #0f526f;
}

.hospedaje-titulo .resaltado {
  background-color: white;
  color: #f29222;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
}

/* Slick Carousel ajustes */
.hospedaje-slider .slick-slide {
  padding: 0 10px;
}

.hospedaje-slider .slick-dots {
  bottom: -30px;
}

.hospedaje-card {
  background-color: #f7fafc;
  /* background-color: #f29222; */
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hospedaje-nombre {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #0f526f;
}

.hospedaje-descripcion {
  color: #4a5568;
  margin-bottom: 1.5rem;
}

.hospedaje-boton {
  display: inline-block;
  background-color: #f29222;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.hospedaje-boton:hover {
  background-color: #f4f4f4;
}
