.seccion-noticias {
  padding: 4rem 2rem;
  background-color: rgb(15, 82, 111, 0.2);
}

.titulo-seccion {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #146689;
}

.lista-noticias {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.tarjeta-noticia {
  background: white;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.tarjeta-noticia:hover {
  transform: translateY(-5px);
}

.imagen-noticia {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.contenido-noticia {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.titulo-noticia {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #333;
}

.fecha-noticia {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 1rem;
}

.resumen-noticia {
  flex-grow: 1;
  color: #555;
}

.boton-mas-info {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  /* background-color: #0f4860; */
  background-color: #f18f22;
  color: white;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  text-align: center;
}

.boton-mas-info:hover {
  background-color: #d6801d;
  color: #0f4860;
}
