.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  padding: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
  transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-button:hover {
  background-color: #1ebe57;
  transform: scale(1.1);
}

.whatsapp-icon {
  font-size: 28px;
}
